@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;700&display=swap');

*{
    font-family: 'Lexend Deca', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
}